{% extends 'base.html.twig' %}

{% block title %}Patient index{% endblock %}

{% block body %}
    <h1>Patient index</h1>

    <table class="table"  id="datatable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date_naissance</th>
                <th>Telephone</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Genre</th>
                <th>Numidentite</th>
                <th>Adress</th>
                <th>Mail</th>
                <th>Etat</th>
                <th>Docteur affecter</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for patient in patients %}
            <tr>
                <td>{{ patient.id }}</td>
                <td>{{ patient.dateNaissance ? patient.dateNaissance|date('Y-m-d') : '' }}</td>
                <td>{{ patient.telephone }}</td>
                <td>{{ patient.Nom }}</td>
                <td>{{ patient.Prenom }}</td>
                <td>{{ patient.Genre }}</td>
                <td>{{ patient.Numidentite }}</td>
                <td>{{ patient.Adress }}</td>
                <td>{{ patient.Mail }}</td>
                <td>{{ patient.EtatPatient }}</td>
                <td>
                    {% for docteurPatientLigne in patient.docteurPatientLignes %}
                        {{ docteurPatientLigne.Docteur.nom }}, <br>
                    {% else %}
                        No doctors assigned.
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('app_patient_show', {'id': patient.id}) }}">show</a>
                    <a href="{{ path('app_patient_edit', {'id': patient.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_patient_new') }}">Create new</a>
{% endblock %}
