{% extends 'base.html.twig' %}

{% block title %}Acceuils{% endblock %}

{% block body %}
    <h1>Acceuils</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Mail</th>
                <th>Telephone</th>
                <th>Adress</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for acceuil in acceuils %}
            <tr>
                <td>{{ acceuil.id }}</td>
                <td>{{ acceuil.Nom }}</td>
                <td>{{ acceuil.Prenom }}</td>
                <td>{{ acceuil.mail }}</td>
                <td>{{ acceuil.telephone }}</td>
                <td>{{ acceuil.Adress }}</td>
                <td>
                    <a class="btn btn-outline-primary" href="{{ path('app_acceuil_show', {'id': acceuil.id}) }}">Details</a>
                    <a class="btn btn-outline-success" href="{{ path('app_acceuil_edit', {'id': acceuil.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_acceuil_new') }}">Create new</a>
{% endblock %}
