{% extends 'base.html.twig' %}

{% block title %}Diagnostics{% endblock %}

{% block body %}
    <h1>Diagnostics</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Maladie</th>
                <th>Date de création</th>
                <th>Description</th>
                <th>Prescription</th>
                <th>Patient</th>
                <th>Etat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for diagnostic in diagnostics %}
            <tr>
                <td>{{ diagnostic.id }}</td>
                <td>{{ diagnostic.maladie }}</td>
                <td>{{ diagnostic.dateCreaction | date('d/m/Y H:i') }}</td>
                <td>{{ diagnostic.description }}</td>
                <td>{{ diagnostic.prescription }}</td>
                <td>
                    {% if diagnostic.patient %}
                        <a href="{{ path('app_patient_show', {'id': diagnostic.patient.id}) }}">
                            {{ diagnostic.patient.nom }} ({{ diagnostic.patient.mail }})
                        </a>
                    {% else %}
                        N/A
                    {% endif %}
                </td>
                <td> <div class="badge {{ diagnostic.etat=='amélioration'?'bg-success':'bg-danger' }}">{{ diagnostic.etat }}</div></td>
                <td>
                    <a href="{{ path('app_diagnostic_show', {'id': diagnostic.id}) }}">show</a>
                    <a href="{{ path('app_diagnostic_edit', {'id': diagnostic.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_diagnostic_new') }}">Create new</a>
{% endblock %}
